<!DOCTYPE html>
<html>
  <head>
    <style>
      body, html { margin:0; padding: 0; overflow:hidden; font-family:Arial; font-size:20px }
      #cr-stage { border:2px solid black; margin:5px auto}
    </style>
  </head>
  <body>
    <script type="text/javascript" src="http://cdn.crafty-modules.com/crafty-DEBUG.js"></script>
    <script>
      window.onload = function () {
        Crafty.init();

        Crafty.scene("main", function () {
          Crafty.modules('http://cdn.craftycomponents.com'
          , {
            MoveTo: "release"
          }
          , function(){
            Crafty.e("2D, DOM, Color, MoveTo")
            .attr({x: 0, y: 0, w: 50, h: 50})
            .color("green");
          });
        });

        Crafty.scene("main");
      };
    </script>
  </body>
</html>
